@charset "ISO-8859-1";


h2 {
	background-color: #3C3838;
	color: white;
	padding: 15px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.right{
	width: 40%;
	float: right;
}
.left{
	width: 60%;
	float: left;
}
.containerl {
	border: 2px solid #DEDEDE;
	background-color:  #fff ;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	resize: vertical;

}
.containerr {
	border: 2px solid #DEDEDE;
	background-color:  #fff ;
	border-radius: 5px;
	padding: 10px;
	width: 85%;
	margin-left: 10%;
	height: 90% auto;
}

input[type=text] {
	width: 55%;
	padding: 12px 20px;
	margin-right: 15px auto;
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
	height: 4%
}

button{
	background-color: #3C3838;
	color: white;
	padding: 14px;
	margin-left: 20px auto; 
	border : none;
	width: 20%;
	height: auto;
	transition: 0.6s;
	border: none;
	height: 3%
}
button:hover {
	background-color: #111;
}