@charset "ISO-8859-1";

/*
.form-group label{
	text-align:center;
	
}
.form-group input,label{
	width:50% !important;
	margin:auto !important;
	
}
.connectinForm input[type="submit"] {
		text-align:center;
}
.navbar-me{
	margin-bottom:2rem !important;
}*/